out/

# Cert
security/nerv_ota.x509.pem
security/nerv_ota.pk8
security/nerv_platform.x509.pem
security/nerv_platform.pk8

#
# We don't want to ignore the following even if they are dot-files
#
!.gitattributes
!.gitignore
!.gitmodules

# Windows Zone Identifier files
*:*Zone.Identifier
# Macos Clutter 
.DS_Store
._.DS_Store
._config.sh
._customize.sh

#i like to debug in out
last_kmsg
log.txt
